{% import 'macros/nav_macros.html' as nav %}

<!DOCTYPE html>
<html>
<head>
    {% include 'partials/_head.html' %}
    {% block custom_scripts %}{% endblock %}
</head>
<body>
<style>
    #notifier {
        z-index: 1000000;
        position: fixed;
        bottom: 20px;
        width: 250px;
        left: 50%;
        margin-left: -37.5%;
        height: 70px;
        font-size: 12px;
    }
</style>
<div class="notifications" style="display:none">
    <div class='ui green message' id='notifier'>
        <i class='close icon'></i>
        <div class='header' id='dynamicflash'></div>
    </div>
</div>

{% block nav %}
    {{ nav.render_nav(current_user) }}
{% endblock %}

{% include 'partials/_flashes.html' %}

{% block content %}
{% endblock %}

{# Implement CSRF protection for site #}
{% if csrf_token() %}
    <div style="visibility: hidden; display: none">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    </div>

    <script>
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token() }}")
                }
            }
        });
        $( document ).ajaxSuccess(function( event, request, settings ) {
            var message = "";
            if (request.responseText) {
                var event = (request.responseText).toString();
                var myArray = event.split('"');
                var item = myArray[myArray.length - 2];
                var vendorName = myArray[myArray.length - 4];
                if (event.includes("quantity")) {
                    var num = event.match(/\d+/)[0];
                } else {
                    var num = -1;
                }
                
                if (event.includes('order_id')) {
                    var orderId = event.match(/\d+/)[0];
                }

                if (event.includes("Favorite") && event.includes("false")) {
                    message = "You have successfully unfavorited " + item;
                } else if (event.includes("Favorite") && event.includes("true")) {
                    message = "You have successfully favorited " + item;
                } else if (event.includes("isFavVendor") && event.includes("true")){
                    message = "You have successfully favorited the vendor " + vendorName;
                } else if (event.includes("isFavVendor") && event.includes("false")){
                    message = "You have successfully unfavorited the vendor " + vendorName;
                }
                else if (event.includes("quantity") && (num > 0)) {
                    item = myArray[3];
                    message = "You are now ordering a total of " + num + " of " + item;
                } else if (event.includes("quantity") && (num == 0)) {
                    item = myArray[3];
                    message = "You have removed " + item + " from your cart";
                } else if (event.includes("approved")) {
                    message = "You have approved order #" + orderId ;
                } else if (event.includes("declined")) {
                    message = "You have declined order #" + orderId ;
                }
            }

            $('#notifier .header').html(message);
            $( '.notifications' ).fadeIn(500).delay(5000).fadeOut(function(){
                $( '.notifications').clearQueue();
            });

        });

    </script>
{% endif %}
</body>
</html>
