{% extends 'layouts/base.html' %}
{% import 'macros/nav_macros.html' as n %}

{% block content %}

    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            {% block before %}
            {% endblock %}

            {% if header is defined %}
              <h2 class="ui header">
                  {{ header }}
              </h2>
            {% endif %}

            {# Actual table #}
            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th class="sorted ascending">Item name</th>
                            {% if current_user.is_merchant() %}
                                <th>Company</th>
                            {% endif %}
                            <th>Price</th>
                            <th class="truncate">Description</th>
                            {% if current_user.is_vendor() %}
                                <th>Availability</th>
                            {% endif %}
                            <th>Category</th>
                            {% if current_user.is_merchant() %}
                                <th>Add to Cart</th>
                                <th>Favorite</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for l in listings | sort(attribute='name') %}
                        {% if current_user.is_vendor() %}
                            <tr onclick="window.location.href = '{{ url_for('vendor.listing_info', listing_id=l.id) }}';">
                        {% elif current_user.is_merchant() %}
                            <tr onclick="window.location.href = '{{ url_for('merchant.index', listing_id=l.id) }}';">
                        {% endif %}

                            <td>{{ l.name }}</td>
                            {% if current_user.is_merchant() %}
                                <td>{{ l.vendor.company_name }}</td>
                            {% endif %}
                            <td>${{ l.price }}/{{l.category.unit}}</td>
                            <td class="truncate">{{ l.description }}</td>
                            {% if current_user.is_vendor() %}
                                <td>{% if l.available==True %} Yes {% else %} No {% endif %}</td>
                            {% endif %}
                            <td class="item category">{{ l.category.name }}</td>

                            {% if current_user.is_merchant() %}
                                <td class="center aligned">
                                    <a href="{{ url_for('merchant.add_to_cart', current_listing_id=l.id, quantity_needed=1) }}">
                                        {% if l in cart_listings %}
                                            <i class="cart icon blue"></i>
                                        {% else %}
                                            <i class="cart icon grey"></i>
                                        {% endif %}
                                    </a>
                                </td>
                                <td class="center aligned">
                                    <a href="{{ url_for('merchant.favorite', listing_id=l.id) }}">
                                        {% if l in current_user.bookmarks %}
                                            <i class="favorite icon yellow"></i>
                                        {% else %}
                                            <i class="favorite icon grey"></i>
                                        {% endif %}
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

{#        <div class="pagination">#}
{#            {{ n.pagination_widget(pagination, '.index') }}#}
{#        </div>#}

            {% block after %}
            {% endblock %}
        </div>
    </div>

    <style>
    .truncate {
      max-width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    </style>
{% endblock %}
