{% extends 'layouts/base.html' %}
{% import 'macros/nav_macros.html' as n %}

{% block content %}

    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            {% block before %}
            {% endblock %}

            {% if header is defined %}
                <h2 class="ui header">
                    {{ header }}
                </h2>
            {% endif %}

            {# Actual table #}
            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table id="listings-table" class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                    <tr>
                        <th class="sorted ascending">Item name</th>
                        {% if current_user.is_merchant() or current_user.is_admin() %}
                            <th>Company</th>
                        {% endif %}
                        <th>Price</th>
                        <th class="truncate">Description</th>
                        {% if current_user.is_vendor() or current_user.is_admin() %}
                            <th>Availability</th>
                        {% endif %}
                        <th>Category</th>
                        {% if current_user.is_merchant() %}
                            <th>Add to Cart</th>
                            <th>Favorite</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for l in listings | sort(attribute='name') %}
                        <tr>

                            <td>{{ l.name }}</td>
                            {% if current_user.is_merchant() or current_user.is_admin() %}
                                <td>{{ l.vendor.company_name }}</td>
                            {% endif %}
                            <td>${{ '%0.2f' | format(l.price) }}/{{l.category.unit}}</td>
                            <td class="truncate">{{ l.description }}</td>
                            {% if current_user.is_vendor() or current_user.is_admin() %}
                                <td>{% if l.available==True %} Yes {% else %} No {% endif %}</td>
                            {% endif %}
                            <td class="item category">{{ l.category.name }}</td>



                            {% if current_user.is_merchant() %}
                                {% if l in cart_listings %}
                                    {% set in_cart = "true" %}
                                    {% set cart_color = "blue" %}
                                {% else %}
                                    {% set in_cart = "false" %}
                                    {% set cart_color = "grey" %}
                                {% endif %}
                                <td class="center aligned cartCell" data-id="{{ l.id }}" data-incart="{{ in_cart }}">
                                    <a class="toggle-cart">
                                        <i class="cart icon {{ cart_color }}"></i>
                                    </a>
                                    <div class="ui input fluid add_quant">
                                        <input class="cart-quantity" type="number" min="0" step="1" value="{{ l.get_quantity_in_cart() }}">
                                    </div>
                                </td>
                                <td class="center aligned favoriteCell">
                                    {% if l in current_user.bookmarks %}
                                        <a class="toggle-favorite" data-id="{{ l.id }}" data-isfavorite="true" href="#">
                                            <i class="favorite icon yellow"></i>
                                        </a>
                                    {% else %}
                                        <a class="toggle-favorite" data-id="{{ l.id }}" data-isfavorite="false" href="#">
                                            <i class="favorite icon grey"></i>
                                        </a>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {% block after %}
            {% endblock %}
        </div>
    </div>

    <style>
        .truncate {
            max-width: 100px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
{% endblock %}
