{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block content %}

<!-- CUSTOM PAGE STYLES -->
<style>
.menu {
    display:none !important;
}
body {
  background: url("{{ url_for('static', filename='images/bg.jpg')}}");
  background-size: cover;
}
</style>
<!-- END CUSTOM PAGE STYLES -->


    <div class="ui grid container">
        <div class="eight wide computer ten wide tablet fourteen wide mobile centered column login-contain animated fadeIn">
            <h2 class="ui header login"><span class="thin-title">Reading Terminal Market</span><br><span class="procure">Purchasing Platform</span></h2>

            <p style="color: #FFF; text-align: left; padding-bottom: 10px">Don't have an account? 
              <a style="font-weight: bold" 
                href="mailto:{{ config.ADMIN_EMAIL}}">Email Us with your name and contact information to start the approval process</a></p>
            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-email']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.begin_form(form, flashes) }}
                {{ f.render_form_field(form.email, extra_classes="custom-login") }}
                {{ f.render_form_field(form.password, extra_classes="custom-login") }}

                {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
                {{ f.form_message(flashes['warning'], header='Check your email.', class='warning') }}
                {{ f.form_message(flashes['info'], header='Information', class='info') }}
                {{ f.form_message(flashes['success'], header='Success!', class='success') }}

                {{ f.render_form_field(form.submit, extra_classes="custom-login") }}
            {{ f.end_form(form) }}
            <div class="ui two column grid login-extras">
                <div class="left aligned column">
                    {{ f.render_form_field(form.remember_me, extra_classes='login-keep') }}
                </div>
                <div class="right aligned column">
                    <a href="{{ url_for('account.reset_password_request') }}" class="login-forgot">Forgot password?</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
