{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}



{% set endpoints = [
    ('account.manage', 'Account information'),
    ('account.change_email_request', 'Change email address'),
    ('account.change_password', 'Change password'),
    ('account.change_name', 'Change name')
] %}

{% macro navigation(items) %}
    <div class="ui vertical fluid secondary menu">
        {% for route, name in items %}
            {% set href = url_for(route) %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ href }}">
                {{ name }}
            </a>
        {% endfor %}
        {% if current_user.is_vendor() %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{url_for('account.csv_settings') }}">
                CSV Settings
            </a>
        {% endif %}
        {% if current_user.is_merchant_or_vendor() %}
            <a class="item {% if request.endpoint == route %}active{% endif %}" href="{{ url_for('account.change_company_name') }}">
                Change company name
            </a>
        {% endif %}
    </div>
{% endmacro %}

{% macro user_info(user) %}
    <table class="ui compact definition table">
        <tr><td>Full name</td><td>{{ '%s %s' % (user.first_name, user.last_name) }}</td></tr>
        <tr><td>Email address</td><td>{{ user.email }}</td></tr>
        <tr><td>Account type</td><td>{{ user.role.name }}</td></tr>
        {% if user.is_merchant_or_vendor() %}
            <tr><td>Company name</td><td>{{ user.company_name }}</td></tr>
        {% endif %}
    </table>
        {% if user.is_merchant_or_vendor() and user.tutorial_completed %}
            <a  href="{{ url_for('merchant.index') }}"id="replay_tutorial" class="ui animated fade button small" tabindex="0">
              <div class="hidden content">Click Here!</div>
              <div class="visible content">
                Want to replay the tutorial?
              </div>
                </a>
        {% endif %}

{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Account Settings
                <div class="sub header">Manage your account settings and change your login information.</div>
            </h2>
        </div>
        <div class="stretched divided very relaxed row">
            <div class="four wide column">
                {{ navigation(endpoints) }}
            </div>
            <div class="eight wide column">
                {% if form %}
                    {{ f.render_form(form, extra_classes='fluid') }}
                {% else %}
                    {{ user_info(user) }}
                {% endif %}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#replay_tutorial").click( function()
               {
                    $.ajax({
                            url: '/merchant/tutorial_completed',
                            type: 'POST',
                    });
                    $('#notifier').hide();
               });
        });

    </script>
{% endblock %}

