<p>Hello!</p>

<p>You have requested the following items from <b>{{ vendor.company_name }}</b>: <p>

<table>
    <thead>
    <tr>
        <th>Item name</th>
        <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    {% for cart_item in cart_items %}
        <tr>
            <td>{{ cart_item.listing.name }}</td>
            <td>{{ cart_item.quantity| int() }} x {{ cart_item.listing.quantity }} {{ cart_item.listing.unit }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<p>Sincerely,</p>

<p>The {{ config.APP_NAME }} Team</p>

<p><small>Note: replies to this email address are not monitored.</small></p>
