<p>Hello!</p>

<p>The merchant <b>{{ merchant.company_name }}</b> has a <b>new order request</b> for the following items: <p>
<p>The merchant placed an order through <b>{{ referral_name }}</b></p>
<table>
    <thead>
    <tr>  
        <th>Product ID </th>
        <th>Item name</th>
        <th>Quantity</th>
        <th>Total Price</th>
    </tr>
    </thead>
    <tbody>
    {% for cart_item in cart_items %}
        <tr>
            <td>{{ cart_item.listing.product_id }}</td>
            <td>{{ cart_item.listing.name }}</td>
            <td>{{ cart_item.quantity| int() }} x {{ cart_item.listing.quantity }}</td>
            <td>{{ cart_item.listing.price * cart_item.quantity }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

Total = {{ total }}

<p>Sincerely,</p>

<p>The {{ config.APP_NAME }} Team</p>

<p><small>Note: replies to this email address are not monitored.</small></p>
