// COLORS
$dark-gray: #929292;
$medium-gray: #979797;
$light-gray: #A3A3A3;
$hover-background-gray: #EDEDED;

// orders
$denied-red: #FC8B8B;
$accepted-green: #3FC380;
$white: #FFFFFF;

// errors
$error-red: #DB2828;

// FONTS
$main-font: 'Helvetica Neue', Arial, Helvetica, sans-serif;