// Semantic UI breakpoints
$mobile-breakpoint:        768px;
$tablet-breakpoint:        992px;
$small-monitor-breakpoint: 1200px;

/******* IMPORTS *******/
// Variables
@import "_base.scss";

// Template Specific
@import "admin.scss";
@import "layouts.scss";
@import "macros.scss";
@import "merchant.scss";
@import "shared.scss";
@import "vendor.scss";

// General nav
nav {
    margin-bottom: 40px !important;
}

// Desktop nav
.ui.fixed.main.menu .right.menu > .item:last-of-type {
    border-right: 1px solid rgba(34, 36, 38, 0.0980392);
}

// Mobile nav
nav .mobile.only.row {
    .ui.vertical.menu {
        margin-top: 40px;
        display: none;
    }
}

// Flashes
.flashes > .ui.message:last-of-type {
    margin-bottom: 2rem;
}

// Tables
table.selectable tr:hover {
    cursor: pointer !important;
}

// General
body {
    font-family: $main-font;
}

// Common
// Title and Sub-title heading
.ui.header.page-header {
    .title {
        color: $darkest-gray;
        font-size: 24px;
    }

    .sub.header {
        color: $medium-gray;
        font-size: 16px;
    }
}

@media (max-width : $mobile-breakpoint) {
    .ui.header.page-header {
        text-align: center;
    }
}

@media (min-width: $mobile-breakpoint) and (max-width : $tablet-breakpoint) {
    .ui.header.page-header {
        .title {
            font-size: 30px;
        }

        .sub.header {
            font-size: 20px;
        }
    }
}