/********* ORDERS.HTML **********/

// Order Status Tabs
.ui.menu.order-status-menu .item {
    text-transform: uppercase;
    border-color: $medium-gray;
    color: $medium-gray;
}

.ui.menu.order-status-menu .item.active {
    background: $hover-background-gray;
}

@media (max-width : $mobile-breakpoint) {
    .ui.menu.order-status-menu {
        max-width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}