{% extends 'layouts/base.html' %}


{% macro status_label(status) %}
    {% if status == 0 %}
        {% set text = 'Pending' %}
        {% set color = 'grey' %}
    {% elif status == 1 %}
        {% set text = 'Approved' %}
        {% set color = 'green' %}
    {% elif status == 2 %}
        {% set text = 'Declined' %}
        {% set color = 'red' %}
    {% endif %}
    {% elif status == 3 %}
        {% set text = 'Canceled' %}
        {% set color = 'red' %}
    {% endif %}

    <div class="ui {{ color }} horizontal label">{{ text }}</div>
{% endmacro %}

{% macro vendor_purchases(vendor, purchases) %}
    <div class="ui segment">
        <h3>Vendor {{ status_label(purchases[0].status) }}</h3>
        <p>adasd</p>
    </div>
{% endmacro %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="twelve wide column">
            <h2 class="ui header">
                Order #{{ order.id }}
                <div class="sub header">Order placed on {{ order.get_date() }}</div>
            </h2>
        </div>
        <div class="stretched divided very relaxed row">
            <div class="twelve wide column">

                {% for vendor, purchases in vendor_purchase_dict.iteritems() %}
                    {{ vendor_purchases(vendor, purchases) }}
                {% endfor %}

                <table class="ui compact definition table">
                    <tr><td>Full name</td><td></td></tr>
                    <tr><td>Email address</td><td></td></tr>
                    <tr><td>Account type</td><td></td></tr>
                    <tr><td>Company name</td><td></td></tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}



