{% extends 'layouts/base.html' %}

{% macro purchase_tagline(order) %}
<p>With purchases from:
 {% for vendor, purchases in order.get_vendor_purchase_dict().iteritems() %}
     {{ vendor[1] }}
 {% endfor %}
    </p>

{% endmacro %}

{% block content %}
    <div class="ui stackable grid container">
    <div class="sixteen wide tablet twelve wide computer centered column">
        <h2 class="ui header">
            Manage orders
            <div class="sub header">
                View and manage your orders.
            </div>
        </h2>
        {% for order in orders %}
            <div class="ui segment">
                <h3 class="ui header">
                    Order #{{ order.id }}
                    <div class="sub header">
                        Placed on {{ order.get_date() }}
                    </div>
                </h3>
               {{ purchase_tagline(order) }}
            </div>

        {% endfor %}
    </div>

    {#    <script src="{{ url_for('static', filename='merchant.js') }}"></script>#}

    <script>

        {#        $(document).ready(function () {#}
        {#            $('.remove-from-cart').click(function () {#}
        {#                var toggledItemButton = $(this);#}
        {#                var listingID = toggledItemButton.data('id');#}
        {#                var tableRow = toggledItemButton.parent().parent();#}
        {#                updateCartQuantity(listingID, 0, deleteListing.bind(this, tableRow));#}
        {#            });#}
        {##}
        {#            $('.cart-quantity').change(function (event) {#}
        {#                var newQuantity = parseInt($(this).val());#}
        {#                var listingID = $(this).data('id');#}
        {##}
        {#                updateTotalPrice(listingID, newQuantity);#}
        {#                updateCartQuantity(listingID, newQuantity);#}
        {#            });#}
        {#        });#}
        {##}
        {#        function updateTotalPrice(listingID, newQuantity) {#}
        {#            var tr = $( 'tr' ).filterByData( 'id', listingID );#}
        {#            var totalPrice = tr.find( '.total_price' );#}
        {#            var unitPrice = parseFloat( tr.find( '.unit_price' ).data( 'price' ) );#}
        {#            totalPrice.text( "$" + (newQuantity * unitPrice).toFixed(2) );#}
        {#        }#}
        {##}
        {#        function deleteListing(tableRow) {#}
        {#            tableRow.remove();#}
        {#        }#}

    </script>
{% endblock %}
