{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Categories
                <div class="sub header">
                    View and manage categories available to vendors.
                </div>
            </h2>

            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th class="sorted ascending seven wide">Category</th>
                            <th class="six wide">Unit</th>
                            <th class="two wide">Num listings</th>
                            <th class="one wide">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for c in categories | sort(attribute='name') %}
                        <tr>
                            <td>{{ c.name }}</td>
                            <td>{{ c.unit }}</td>
                            <td>{{ c.listings|length }}</td>
                            {% if c.listings|length %}
                                <td></td>
                            {% else %}
                                <td class="center aligned">
                                    <a href="{{ url_for('admin.delete_category', category_id=c.id) }}">
                                        <i class="remove icon red"></i>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
