{% extends 'layouts/listings.html' %}
{% import 'macros/form_macros.html' as f %}

{% block before %}
    {% set flashes = {
        'error':   get_flashed_messages(category_filter=['form-error']),
        'warning': get_flashed_messages(category_filter=['form-check-email']),
        'info':    get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success'])
     } %}
     </div>
<div class="listing-contain">
    <form class="custom-search">
        <div class="ui form search-bar">
            <input value="{{ main_search_term }}" type="text" name="main-search" placeholder="Search names and descriptions">
        </div>
        <div class="ui submit-section">
            <button class="ui button blue searchbutton" type="submit">Search</button>
            <a class="ui button clearbutton" href="{{ url_for('admin.listing_view_all', page=1) }}">Clear Criteria</a>
        </div>

        <div class="side-bar"> 
            <h3>Filtering Settings</h3>
            <div class="field">
                <label>Order by</label>
                <select class="ui selection dropdown" name="avail">
                {% if request.args.get('avail') == "avail" %}
                    {% set selected = 'selected' %}
                {% elif request.args.get('avail') == "non_avail" %}
                    {% set selected2 = 'selected' %}
                {% elif request.args.get('avail') == "avail" %}
                    {% set selected3 = 'selected' %}
                {% endif %}
                <option value="both" {{ selected }}>Show Available and Non Available Items</option>
                <option value="non_avail" {{ selected2 }}>Show Non Available Items</option>
                <option value="avail" {{ selected3 }}>Show Available Items</option>

            </select>
            </div>
            <div class="field">
            <select class="ui selection dropdown" name="sort-by">
                {% if request.args.get('sortby') == "low_high" %}
                    {% set checked2 = 'selected' %}
                {% elif request.args.get('sortby') == "high_low" %}
                    {% set checked3 = 'selected' %}
                {% elif request.args.get('sortby') == "alphaAZ" %}
                    {% set checked4 = 'selected' %}
                {% elif request.args.get('sortby') == "alphaZA" %}
                    {% set checked5 = 'selected' %}
                {% endif %}
                <option value="low_high" {{ checked2 }}>Price, low to high</option>
                <option value="high_low" {{ checked3 }}>Price, high to low</option>
                <option value="alphaAZ" {{ checked4 }}>Alphabetical names, (A-Z)</option>
                <option value="alphaZA" {{ checked5 }}>Alphabetical names, (Z-A)</option>

            </select>
            </div>

        <div class="ui form twelve wide field" style="{{ display }}">
                <label>Search Company Names</label>
                <input value="{{ name_search_term }}" type="text" name="name-search" placeholder="e.g. Bobby's Burgers">
            </div>
            <div class="ui twelve wide field" style="{{ display }}">
                <div class="ui two wide fields">
                    <div class="ui form three wide field">
                        <label>Minimum unit price</label>
                        <input value="{{ min_price }}" type="number" id="min-price" min="0" name="min-price" placeholder="e.g. $0">
                    </div>
                    <div class="ui form three wide field">
                        <label>Maximum unit price</label>
                        <input value="{{ max_price }}" type="number" id="max-price" name="max-price" placeholder="e.g. $500">
                    </div>
                </div>
            </div>  
        </div>
        <br>        
    </form>
    {% endblock %}

{% block after %}
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <script type="text/javascript">
        $(document).ready(function () {
            $('#toggle-advanced').click(function () {
                $('.advanced-search').toggle();
            });
        });
    </script>
{% endblock %}
