{% extends 'layouts/listings.html' %}
{% import 'macros/form_macros.html' as f %}

{% block before %}
    {% set flashes = {
        'error':   get_flashed_messages(category_filter=['form-error']),
        'warning': get_flashed_messages(category_filter=['form-check-email']),
        'info':    get_flashed_messages(category_filter=['form-info']),
        'success': get_flashed_messages(category_filter=['form-success'])
     } %}

    <a class="ui basic compact button" href="{{ url_for('admin.index') }}">
        <i class="caret left icon"></i>
        Back to dashboard
    </a>
    
    <form class="ui form segment">
        <div class="twelve wide field">
            <label>Search names and descriptions</label>
            <input value="{{ main_search_term }}" type="text" name="main-search" placeholder="e.g. corned beef">
        </div>

        {% if not name_search_term and not min_price and not max_price%}
            {% set display = 'display:none' %}
        {% endif %}
        <div class="twelve wide field advanced-search" style="{{ display }}">
            <label>Search company and vendor names</label>
            <input value="{{ name_search_term }}"type="text" name="name-search" placeholder="e.g. John's corned beef">
        </div>

        <div class="two fields advanced-search" style="{{ display }}">
            <div class="three wide field">
                <label>Minimum unit price</label>

                <input value="{{ min_price }}" type="text" name="min-price" placeholder="e.g. $0">
            </div>
            <div class="three wide field">
                <label>Maximum unit price</label>
                <input value="{{ max_price }}" type="text" name="max-price" placeholder="e.g. $10">
            </div>
        </div>
        <div>
            <a href="#" id="toggle-advanced">Toggle advanced search</a>
        </div>
        <br>
        <button class="ui button" type="submit">Search</button>
    </form>
{% endblock %}

{% block after %}

    <script src="{{ url_for('static', filename='merchant.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#toggle-advanced').click(function () {
                $('.advanced-search').toggle();
            });

            $('.toggle-favorite').click(function (event) {
                var toggledLink = $(this);
                var isFavorite = toggledLink.data("isfavorite");
                var listingId = toggledLink.data("id");
                var newValue = isFavorite === true ? false : true;
                $.ajax({
                    url: '/merchant/change_favorite/' + listingId,
                    data: JSON.stringify({
                        isFavorite: newValue
                    }),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        toggledLink.data("isfavorite", data.isFavorite);
                        icon = toggledLink.find("i");
                        icon.removeClass("grey");
                        icon.removeClass("yellow");

                        if (data.isFavorite) {
                            icon.addClass("yellow");
                        } else {
                            icon.addClass("grey");
                        }

                    },
                    method: 'PUT'
                });

            });

            $('.cart-quantity').change(function (event) {
                var newQuantity = parseInt($(this).val());
                var td = $(this).closest('td')
                var listingID = td.data('id');
                updateCartQuantity(listingID, newQuantity);
                updateCartFrontend(listingID, newQuantity);
            });

            $('.toggle-cart').click(function (event) {
                var toggleCartIcon = $(this);
                var inCart = toggleCartIcon.parent().data("incart");
                var listingID = toggleCartIcon.parent().data("id");
                var newQuantity = inCart ? 0 : 1;
                updateCartQuantity(listingID, newQuantity);
                updateCartFrontend(listingID, newQuantity);
            });
        });

        function changeInputQuantity(inputSelector, newQuantity) {
            inputSelector.val(newQuantity);
        }

        function enableCartIcon(cartIconSelector) {
            cartIconSelector.removeClass("grey");
            cartIconSelector.addClass("blue");

        }

        function disableCartIcon(cartIconSelector) {
            cartIconSelector.removeClass("blue");
            cartIconSelector.addClass("grey");
        }

        function updateCartFrontend(listingID, quantity) {
            var dataSelector = "[data-id='" + listingID + "']";
            var td = $('#listings-table td.cartCell' + dataSelector);
            var icon = td.find("i");
            var quantityInput = td.find("input");
            quantityInput.val(quantity);

            if (quantity === 0) {
                disableCartIcon(icon);
                td.data("incart", false);
            } else {
                enableCartIcon(icon);
                td.data("incart", true);
            }
        }
    </script>
{% endblock %}
