{% macro status_filter_menu(status_filter) %}
    <div class="ui three item menu order-status-menu">
        <a class="item {% if status_filter is none %}active{% endif %}" href="{{ url_for('.view_orders') }}">All</a>
        <a class="item {% if status_filter == 'pending' %}active{% endif %}" href="{{ url_for('.view_orders', status='pending') }}">Pending</a>
        <a class="item {% if status_filter == 'approved' %}active{% endif %}" href="{{ url_for('.view_orders', status='approved') }}">Approved</a>
        <a class="item {% if status_filter == 'declined' %}active{% endif %}" href="{{ url_for('.view_orders', status='declined') }}">Declined</a>
    </div>
{% endmacro %}


{% macro status_label(status) %}
    {% if status == 0 %}
        {% set text = 'Pending' %}
    {% elif status == 1 %}
        {% set text = 'Approved' %}
    {% elif status == 2 %}
        {% set text = 'Declined' %}
    {% endif %}
    {{ text }}
{% endmacro %}

{% macro status_color(status) %}
    {% if status == 0 %}
        {% set color = 'grey' %}
    {% elif status == 1 %}
        {% set color = 'green' %}
    {% elif status == 2 %}
        {% set color = 'red' %}
    {% endif %}
    {{ color }}
{% endmacro %}